/* color palette from <https://github.com/vuejs/theme> */
:root {
  --backgroundStartColor: #e2e2e2ff;
  --backgroundEndColor: #e2e2e2ff;
  --color-text: #132c4b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: linear-gradient(0deg, var(--backgroundStartColor) 0%, var(--backgroundEndColor) 100%);
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

